/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
	color: #444;
}

p {
	line-height: 2rem;
}

.sidenav-trigger {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255,255,255,.9);
}
  .parallax-container .section {
		width: 100%;
  }

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

.m-0 {
	margin: 0 !important;
}

.mt-0,
.my-0 {
	margin-top: 0 !important;
}

.mr-0,
.mx-0 {
	margin-right: 0 !important;
}

.mb-0,
.my-0 {
	margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
	margin-left: 0 !important;
}

.m-1 {
	margin: 0.25rem !important;
}

.mt-1,
.my-1 {
	margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
	margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
	margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
	margin-left: 0.25rem !important;
}

.m-2 {
	margin: 0.5rem !important;
}

.mt-2,
.my-2 {
	margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
	margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
	margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
	margin-left: 0.5rem !important;
}

.m-3 {
	margin: 1rem !important;
}

.mt-3,
.my-3 {
	margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
	margin-right: 1rem !important;
}

.mb-3,
.my-3 {
	margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
	margin-left: 1rem !important;
}

.m-4 {
	margin: 1.5rem !important;
}

.mt-4,
.my-4 {
	margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
	margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
	margin-left: 1.5rem !important;
}

.m-5 {
	margin: 3rem !important;
}

.mt-5,
.my-5 {
	margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
	margin-right: 3rem !important;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
	margin-left: 3rem !important;
}

.p-0 {
	padding: 0 !important;
}

.pt-0,
.py-0 {
	padding-top: 0 !important;
}

.pr-0,
.px-0 {
	padding-right: 0 !important;
}

.pb-0,
.py-0 {
	padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
	padding-left: 0 !important;
}

.p-1 {
	padding: 0.25rem !important;
}

.pt-1,
.py-1 {
	padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
	padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
	padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
	padding-left: 0.25rem !important;
}

.p-2 {
	padding: 0.5rem !important;
}

.pt-2,
.py-2 {
	padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
	padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
	padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
	padding-left: 0.5rem !important;
}

.p-3 {
	padding: 1rem !important;
}

.pt-3,
.py-3 {
	padding-top: 1rem !important;
}

.pr-3,
.px-3 {
	padding-right: 1rem !important;
}

.pb-3,
.py-3 {
	padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
	padding-left: 1rem !important;
}

.p-4 {
	padding: 1.5rem !important;
}

.pt-4,
.py-4 {
	padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
	padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
	padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
	padding-left: 1.5rem !important;
}

.p-5 {
	padding: 3rem !important;
}

.pt-5,
.py-5 {
	padding-top: 3rem !important;
}

.pr-5,
.px-5 {
	padding-right: 3rem !important;
}

.pb-5,
.py-5 {
	padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
	padding-left: 3rem !important;
}

.m-auto {
	margin: auto !important;
}

.timeline {
	position: relative;
}

.timeline .timeline-event {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
	position: relative;
	width: calc(50% - 50px);
}

.timeline .timeline-event::before {
	display: block;
	content: "";
	width: 2px;
	height: calc(50% - 30px);
	position: absolute;
	background: #d2d2d2;
	left: calc(50% - 1px);
	top: 0;
}

.timeline .timeline-event::after {
	display: block;
	content: "";
	width: 2px;
	height: calc(50% - 30px);
	position: absolute;
	background: #d2d2d2;
	left: calc(50% - 1px);
	top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
	display: none;
}

.timeline .timeline-event:last-child::after {
	display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
	margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
	margin-left: 0;
}

.timeline .timeline-badge {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	background: #d2d2d2;
	top: calc(50% - 20px);
	right: calc(50% - 20px);
	border-radius: 50%;
	text-align: center;
	cursor: default;
}

.timeline .timeline-badge i {
	font-size: 25px;
	line-height: 40px;
}

.divider-card {
	position: relative; 
	bottom: 85px; 
	margin-bottom: -110px !important; 
	overflow: hidden;
}

@media (max-width: 600px) {
	.timeline .timeline-event .timeline-content {
		width: calc(100% - 70px);
	}
	.timeline .timeline-event::before {
		left: 19px;
	}
	.timeline .timeline-event::after {
		left: 19px;
	}
	.timeline .timeline-event:nth-child(even) .timeline-content {
		margin-left: 70px;
	}
	.timeline .timeline-event:nth-child(odd) .timeline-content {
		margin-left: 70px;
	}
	.timeline .timeline-badge {
		left: 0;
	}
	
	.divider-card {
		position: unset; 
		bottom: 0; 
		margin-top: 25px;
		margin-bottom: -40px !important;
		overflow: unset;
	}
}

.article {
	display: none;
}

.judul-artikel {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.isi-artikel {
	line-height: unset;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.dots {
	width: 100%;
    height: 100px;
    position: absolute;
    right: 10px;
	background: url(../img/dots.png) right bottom / auto 50px  no-repeat;
	background-size: auto 100px;
}

.squiggle {
	width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
	background: url(../img/squiggle.png) left bottom / auto 50px no-repeat;
	background-size: auto 50px;
}

.progress-container {
	width: 100%;
	height: 5px;
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14), 0 3px 8px -5px rgba(0,0,0,0.12), 0 5px 5px 0 rgba(0,0,0,0.1);
}

.progress-bar {
	height: 5px;
	width: 0%;
}

nav {
	color: white;
	background-color: rgba(0,0,0,0);
    height: 80px;
	position: fixed;
    line-height: 56px;
	top:0;
	left:0;
	right:0;
	width: 100%;
	z-index: 20;
	transition: 0.35s all ease;
}

.main-judul {
	text-shadow: 1.3px 1.3px #9e9e9e;
 }

nav .judul-text {
	color: white;
	text-shadow: 2px 2px #212121;
}

.scrolled .judul-text {
	color: #26a69a;
	text-shadow: unset;
}

.scrolled {
	color: #4db6ac;
	height: 60px;
	background-color: white;
	transition: 0.35s all ease;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
}

fieldset #header-bar {
	height: 8px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 8px 8px 0 0;
	background-image: url("../img/header-bar.jpg");
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #26a69a;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 0.75px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    font-size: 12px;
    color: white;
    background: #b2dfdb;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
    transition: All 0.3s ease-in;
    -webkit-transition: All 0.3s ease-in;
    -moz-transition: All 0.3s ease-in;
    -o-transition: All 0.3s ease-in;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #26a69a;
    color: white;
}